<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		version="2.4">



	<servlet>
		<servlet-name>AAA</servlet-name>
		<jsp-file>/AAA.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>AAA</servlet-name>
		<url-pattern>/AAA</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BBB</servlet-name>
		<jsp-file>/BBB.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>BBB</servlet-name>
		<url-pattern>/BBB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>testServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ResList</servlet-name>
		<jsp-file>/ResList.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResList</servlet-name>
		<url-pattern>/ResList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>ResServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/ResServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testout</servlet-name>
		<jsp-file>/testout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>testout</servlet-name>
		<url-pattern>/testout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Threadin</servlet-name>
		<jsp-file>/TOP.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Threadin</servlet-name>
		<url-pattern>/top</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ThrList</servlet-name>
		<jsp-file>/ThrList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThrList</servlet-name>
		<url-pattern>/ThrList</url-pattern>
	</servlet-mapping>
	


</web-app>
