	header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 25px;
    background-color: #888;
    z-index:2;
}
		body{
			font-size: 11px;
		}
		#textbox{
			width:380px;
			height:80px;
		}
		#res_content{
			width:480px;
			font-size: 16px;
		}
		#res{
			width: 50%;
		}
		#res_createdate{
			font-size: 11px;
			color: #333;
		}
		#res_name{
			width:254px;
		}
		textarea{  
    	resize: none;  
		}

#slide_menu{
    position: fixed;
    
    top: -220px;
    width: 100%;
    height: 220px;
    background: #888;
    z-index:1;
}
	#textbox{
		width:380px;
		height:80px;
	}
	#hd{
		float: left;
	}
